html
	body
		div(id="login-box")
			form(action='/login' method='POST')
				label(for="user") Username:	
				input(name="user")
				label(for="password") Password:				 
				input(name="password")
				input(type="submit" value="Log In")
			