html
	head
		style
			include ./style.css
		block head
			div(id="navbar")
				a(href="/projects") Projects 
				a(href="/schedule") Schedule 
				a(href="/inspections") Inspections 
				a(href="/labsamples") Laboratory Results 
				a(href="/fieldresults") Field Results 
				a(href="/equipment") Equipment 
				a(href="/reports") Reports
	